<!DOCTYPE html>
<html>
  <!-- <head> -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- </head> -->
  <body style="width: 100%">
    <table style="width: 100%">
      <tr>
        <th>
          <img src="../stylessheet/images/logoLeon.png" style="width: 3%" />
        </th>
      </tr>
      <tr>
        <th
          style="
            letter-spacing: 1px;
            font-family: Arial;
            font-size: 10px;
            font-weight: 100;
            width: 100%;
            text-align: center;
            color: #af8c55;
          "
        >
          <strong style="font-weight: 900">
            Dirección de Deuda Pública y Planeación Financiera</strong
          >
          | www.nl.gob.mx/tesoreria
          <br />
          Escobedo Sur No. 333, Piso 8, Centro, 64000, Monterrey, Nuevo León |
          81 2020 1357 y 1358
          <br />
          @SeFiyteNL
        </th>
      </tr>
    </table>

    <!-- <h4 class="header"> -->
    <!-- <div>
        <strong style="font-weight: 700; letter-spacing: 1px">
          Unidad de Coordinación con Entidades Federativas
        </strong>
        <br />
        Dirección General Adjunta de Deuda Pública de <br />
        Entidades Federativas y Municipios
      </div> -->
    <!-- </h4> -->
  </body>
</html>
