<!DOCTYPE html>
<html>
  <!-- <head> -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- </head> -->
  <body style="width: 100vw; height: 100vh">
    <table>
      <tr>
        <th>
          <img
            src="../stylessheet/images/logoTesoreria.png"
            style="width: 70%"
          />
        </th>
        <th
          style="
            letter-spacing: 1px;
            font-family: Arial;
            font-size: 15px;
            font-weight: 900;
            width: 50%;
          "
        >
          2022 AÑO DE LA NUEVA CONSTITUCIÓN <br />
          DEL ESTADO DE NUEVO LEÓN
        </th>
        <th>
          <img src="../stylessheet/images/escudo.png" style="width: 30%" />
        </th>
      </tr>
    </table>

    <!-- <h4 class="header"> -->
    <!-- <div>
        <strong style="font-weight: 700; letter-spacing: 1px">
          Unidad de Coordinación con Entidades Federativas
        </strong>
        <br />
        Dirección General Adjunta de Deuda Pública de <br />
        Entidades Federativas y Municipios
      </div> -->
    <!-- </h4> -->
  </body>
</html>
